.idea
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env
/.env.test
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> behat/symfony2-extension ###
behat.yml.dist
###< behat/symfony2-extension ###
!/.env.test

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###
!/composer.phar

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
/config/jwt_test/*.pem
###< lexik/jwt-authentication-bundle ###
!/public/adminer-4.7.5.php

/.env.test
